<div class="p-10">
  <h1 class="text-3xl">Become a journalist at VeriFeed</h1>
  <div *ngIf="authService.getUserRole() === UserRoles.USER">
    <div class="pt-5">
      <h2 class="sr-only">Steps</h2>

      <div class="after:mt-4 after:block after:h-1 after:w-full after:rounded-lg after:bg-gray-200">
        <ol class="grid grid-cols-3 text-sm font-medium text-gray-500">
          <li class="relative flex justify-start text-blue-600">
        <span class="absolute -bottom-[1.75rem] start-0 rounded-full bg-blue-600 text-white">
          <svg
            class="h-5 w-5"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
              clip-rule="evenodd"
            />
          </svg>
        </span>

            <span class="hidden sm:block"> Certificate holder </span>

            <svg
              class="h-6 w-6 sm:hidden"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M10 6H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V8a2 2 0 00-2-2h-5m-4 0V5a2 2 0 114 0v1m-4 0a2 2 0 104 0m-5 8a2 2 0 100-4 2 2 0 000 4zm0 0c1.306 0 2.417.835 2.83 2M9 14a3.001 3.001 0 00-2.83 2M15 11h3m-3 4h2"
              />
            </svg>
          </li>

          <li class="relative flex justify-center text-blue-600">
        <span
          class="absolute -bottom-[1.75rem] left-1/2 -translate-x-1/2 rounded-full bg-blue-600 text-white"
        >
          <svg
            class="h-5 w-5"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
              clip-rule="evenodd"
            />
          </svg>
        </span>

            <span class="hidden sm:block"> Details </span>

            <svg
              class="mx-auto h-6 w-6 sm:hidden"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"
              />
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"
              />
            </svg>
          </li>

          <li class="relative flex justify-end">
        <span class="absolute -bottom-[1.75rem] end-0 rounded-full bg-gray-600 text-white">
          <svg
            class="h-5 w-5"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
              clip-rule="evenodd"
            />
          </svg>
        </span>

            <span class="hidden sm:block"> Verification </span>

            <svg
              class="h-6 w-6 sm:hidden"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M3 10h18M7 15h1m4 0h1m-7 4h12a3 3 0 003-3V8a3 3 0 00-3-3H6a3 3 0 00-3 3v8a3 3 0 003 3z"
              />
            </svg>
          </li>
        </ol>
      </div>
    </div>


    <form (ngSubmit)="onSubmit()" [formGroup]="verificationForm" class="mt-8 flex-col space-y-16" *ngIf="!submitted">
      <span class="flex items-center">
        <span class="h-px flex-1 bg-black"></span>
        <span class="shrink-0 px-6">Choose your certificate holder</span>
        <span class="h-px flex-1 bg-black"></span>
      </span>
      <fieldset class="space-y-4">
        <legend class="sr-only">Delivery</legend>

        <div *ngFor="let certificate of certificates">
          <input
            type="radio"
            name="certificate"
            [value]="certificate.id"
            formControlName="certificate"
            id="certificate{{certificate.id}}"
            class="peer hidden [&:checked_+_label_svg]:block"
            checked
          />

          <label
            for="certificate{{certificate.id}}"
            class="flex cursor-pointer items-center justify-between rounded-lg border border-gray-100 bg-white p-4 text-sm font-medium shadow-sm hover:border-gray-200 peer-checked:border-blue-500 peer-checked:ring-1 peer-checked:ring-blue-500"
          >
            <div class="flex items-center gap-2">
              <svg
                class="hidden h-5 w-5 text-blue-600"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                  clip-rule="evenodd"
                />
              </svg>

              <p
                class="text-gray-700">{{ certificate.certificateHolder?.firstName }} {{ certificate.certificateHolder?.lastName }}</p>
            </div>

            <p class="text-gray-900">{{ certificate.verifiedJournalists?.length }} journalists verified.</p>
          </label>
        </div>
      </fieldset>

      <span class="flex items-center">
        <span class="h-px flex-1 bg-black"></span>
        <span class="shrink-0 px-6">Personal data</span>
        <span class="h-px flex-1 bg-black"></span>
      </span>
      <div>
        <div class="pb-2.5 pl-2.5 pr-2.5"><label
          for="firstName"
          class="block overflow-hidden rounded-md border border-gray-200 px-3 py-2 shadow-sm focus-within:border-blue-600 focus-within:ring-1 focus-within:ring-blue-600"
        >
          <span class="text-xs font-medium text-gray-700"> First Name </span>

          <input
            type="text"
            id="firstName"
            placeholder="First name"
            matInput
            formControlName="firstName"
            [errorStateMatcher]="matcher"
            class="mt-1 w-full border-none p-0 focus:border-transparent focus:outline-none focus:ring-0 sm:text-sm"
          />
        </label>
          <span
            class="text-red-600 text-xs"
            *ngIf="verificationForm.hasError('required','firstName')"
          >First name is required</span>
        </div>
        <div class="pb-2.5 pl-2.5 pr-2.5"><label
          for="lastName"
          class="block overflow-hidden rounded-md border border-gray-200 px-3 py-2 shadow-sm focus-within:border-blue-600 focus-within:ring-1 focus-within:ring-blue-600"
        >
          <span class="text-xs font-medium text-gray-700"> Last name </span>

          <input
            type="text"
            id="lastName"
            placeholder="Last name"
            matInput
            formControlName="lastName"
            [errorStateMatcher]="matcher"
            class="mt-1 w-full border-none p-0 focus:border-transparent focus:outline-none focus:ring-0 sm:text-sm"
          />
        </label>
          <span
            class="text-red-600 text-xs"
            *ngIf="verificationForm.hasError('required','lastName')"
          >Last name is required</span>
        </div>
        <div class="p-2.5"><label
          for="dateOfBirth"
          class="block overflow-hidden rounded-md border border-gray-200 px-3 py-2 shadow-sm focus-within:border-blue-600 focus-within:ring-1 focus-within:ring-blue-600"
        >
          <span class="text-xs font-medium text-gray-700"> Date of birth </span>

          <input
            type="date"
            id="dateOfBirth"
            placeholder="Date of birth"
            matInput
            formControlName="dateOfBirth"
            [errorStateMatcher]="matcher"
            class="mt-1 w-full border-none p-0 focus:border-transparent focus:outline-none focus:ring-0 sm:text-sm"
          />
        </label>
          <span
            class="text-red-600 text-xs"
            *ngIf="verificationForm.hasError('required','dateOfBirth')"
          >Date of birth is required</span>
        </div>

        <div class="p-2.5"><label
          for="street"
          class="block overflow-hidden rounded-md border border-gray-200 px-3 py-2 shadow-sm focus-within:border-blue-600 focus-within:ring-1 focus-within:ring-blue-600"
        >
          <span class="text-xs font-medium text-gray-700"> Street </span>

          <input
            type="text"
            id="street"
            placeholder="Street, house number, ..."
            matInput
            formControlName="street"
            class="mt-1 w-full border-none p-0 focus:border-transparent focus:outline-none focus:ring-0 sm:text-sm"
          />
        </label>
        </div>

        <div class="p-2.5"><label
          for="city"
          class="block overflow-hidden rounded-md border border-gray-200 px-3 py-2 shadow-sm focus-within:border-blue-600 focus-within:ring-1 focus-within:ring-blue-600"
        >
          <span class="text-xs font-medium text-gray-700"> City </span>

          <input
            type="text"
            id="city"
            placeholder="City"
            matInput
            formControlName="city"
            class="mt-1 w-full border-none p-0 focus:border-transparent focus:outline-none focus:ring-0 sm:text-sm"
          />
        </label>
        </div>

        <div class="p-2.5"><label
          for="postalCode"
          class="block overflow-hidden rounded-md border border-gray-200 px-3 py-2 shadow-sm focus-within:border-blue-600 focus-within:ring-1 focus-within:ring-blue-600"
        >
          <span class="text-xs font-medium text-gray-700"> Postal Code </span>

          <input
            type="text"
            id="postalCode"
            placeholder="Postal code"
            matInput
            formControlName="postalCode"
            class="mt-1 w-full border-none p-0 focus:border-transparent focus:outline-none focus:ring-0 sm:text-sm"
          />
        </label>
        </div>

        <div class="p-2.5"><label
          for="country"
          class="block overflow-hidden rounded-md border border-gray-200 px-3 py-2 shadow-sm focus-within:border-blue-600 focus-within:ring-1 focus-within:ring-blue-600"
        >
          <span class="text-xs font-medium text-gray-700"> Country </span>

          <input
            type="text"
            id="country"
            placeholder="Country"
            matInput
            formControlName="country"
            class="mt-1 w-full border-none p-0 focus:border-transparent focus:outline-none focus:ring-0 sm:text-sm"
          />
        </label>
        </div>

        <div class="p-2.5"><label
          for="state"
          class="block overflow-hidden rounded-md border border-gray-200 px-3 py-2 shadow-sm focus-within:border-blue-600 focus-within:ring-1 focus-within:ring-blue-600"
        >
          <span class="text-xs font-medium text-gray-700"> State </span>

          <input
            type="text"
            id="state"
            placeholder="State"
            matInput
            formControlName="state"
            class="mt-1 w-full border-none p-0 focus:border-transparent focus:outline-none focus:ring-0 sm:text-sm"
          />
        </label>
        </div>

        <div class="p-2.5"><label
          for="employer"
          class="block overflow-hidden rounded-md border border-gray-200 px-3 py-2 shadow-sm focus-within:border-blue-600 focus-within:ring-1 focus-within:ring-blue-600"
        >
          <span class="text-xs font-medium text-gray-700"> Employer </span>

          <input
            type="text"
            id="employer"
            placeholder="Employer"
            matInput
            formControlName="employer"
            class="mt-1 w-full border-none p-0 focus:border-transparent focus:outline-none focus:ring-0 sm:text-sm"
          />
        </label>
        </div>

        <div class="p-2.5"><label
          for="distributionReach"
          class="block overflow-hidden rounded-md border border-gray-200 px-3 py-2 shadow-sm focus-within:border-blue-600 focus-within:ring-1 focus-within:ring-blue-600"
        >
          <span class="text-xs font-medium text-gray-700"> Distribution reach </span>

          <input
            type="number"
            id="distributionReach"
            placeholder="Distribution reach"
            matInput
            formControlName="distributionReach"
            [errorStateMatcher]="matcher"
            class="mt-1 w-full border-none p-0 focus:border-transparent focus:outline-none focus:ring-0 sm:text-sm"
          />
        </label>
          <span
            class="text-red-600 text-xs"
            *ngIf="verificationForm.hasError('required','distributionReach')"
          >Distribution reach is required</span>
        </div>

        <div class="p-2.5"><label
          for="medium"
          class="block overflow-hidden rounded-md border border-gray-200 px-3 py-2 shadow-sm focus-within:border-blue-600 focus-within:ring-1 focus-within:ring-blue-600"
        >
          <span class="text-xs font-medium text-gray-700"> Main medium </span>

          <input
            type="text"
            id="medium"
            placeholder="Medium e.g. Instagram, Newspaper, ..."
            matInput
            formControlName="mainMedium"
            [errorStateMatcher]="matcher"
            class="mt-1 w-full border-none p-0 focus:border-transparent focus:outline-none focus:ring-0 sm:text-sm"
          />
        </label>
          <span
            class="text-red-600 text-xs"
            *ngIf="verificationForm.hasError('required','mainMedium')"
          >Main medium is required</span>
        </div>

        <div class="p-2.5"><label
          for="medium"
          class="block overflow-hidden rounded-md border border-gray-200 px-3 py-2 shadow-sm focus-within:border-blue-600 focus-within:ring-1 focus-within:ring-blue-600"
        >
          <span class="text-xs font-medium text-gray-700"> URL to medium </span>

          <input
            type="text"
            id="urlMedium"
            placeholder="https://test.com"
            matInput
            formControlName="urlMedium"
            [errorStateMatcher]="matcher"
            class="mt-1 w-full border-none p-0 focus:border-transparent focus:outline-none focus:ring-0 sm:text-sm"
          />
        </label>
          <span
            class="text-red-600 text-xs"
            *ngIf="verificationForm.hasError('required','urlMedium')"
          >URL to main medium is required</span>
          <span
            class="text-red-600 text-xs"
            *ngIf="verificationForm.hasError('pattern','urlMedium')"
          >URL does not match pattern</span>
        </div>

        <div>
          <label for="requestText" class="block text-sm font-medium text-gray-700"> Request message </label>
          <textarea
            id="requestText"
            class="mt-2 w-full rounded-lg border-gray-200 align-top shadow-sm sm:text-sm"
            rows="4"
            placeholder="Enter your motivation, verification possibilities..."
            matInput
            formControlName="requestMessage"
            [errorStateMatcher]="matcher"
          ></textarea>
          <span
            class="text-red-600 text-xs"
            *ngIf="verificationForm.hasError('required','requestMessage')"
          >Request message is required</span>
        </div>
        <div class="p-2.5">
          <button
            type="submit"
            [disabled]="!verificationForm.valid"
            class="inline-block shrink-0 rounded-md border border-yellow-500 bg-yellow-500 px-12 py-3 text-sm font-medium text-white transition hover:bg-transparent hover:text-yellow-500 focus:outline-none focus:ring active:text-blue-500"
          >
            Become a verified journalist
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<div *ngIf="authService.getUserRole() === UserRoles.JOURNALIST">
  <div class="h-52"></div>
  <h1 class="text-center">You are already a journalist at VeriFeed! Thank you so much!</h1>
  <div class="h-52">
    <p></p>
  </div>
</div>
<div *ngIf="!authService.isLoggedIn()">
  <div class="h-52"></div>
  <h1 class="text-center">First become a member of our great community! We're looking forward to welcome you :)</h1>
  <div class="h-52">
    <p></p>
  </div>
</div>
